/* Add a black background color to the top navigation */

body {
    background: #EA5A5A;
}

.food_image_scroller {
    padding-left: 3%;
}

.star-1 {
    size: 200px;
    position: absolute;
    width: 85px;
    height: 83px;
    left: 65px;
    top: 133px;
    color: #E1B723;
    font-size: 600%
}

.star-2 {
    position: absolute;
    width: 85px;
    height: 83px;
    left: 128px;
    top: 525px;
    color: #E1B723;
    font-size: 600%
}

.star-3 {
    position: absolute;
    width: 85px;
    height: 83px;
    left: 80%;
    top: 240px;
    color: #E1B723;
    font-size: 600%
}

.star-4 {
    position: absolute;
    width: 85px;
    height: 83px;
    left: 90%;
    top: 751px;
    color: #E1B723;
    font-size: 600%
}

.authors_note {
    position: relative;
    width: 80%;
    height: 61px;
    left: 10.5%;
    font-family: Raleway;
    font-style: normal;
    color: white;
    font-weight: 200;
    font-size: 35px;
    line-height: 59px;
    text-align: center;
}

.author_message {
    text-align: center;
    position: relative;
    width: 878px;
    height: 332px;
    left: 20%;
    font-family: Raleway;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}